.modal-background {
    background-color: rgba(79, 1, 153, 0.603);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}